html,
body { height: 100%;
}
body{
    background-color:hsl(212, 45%, 89%)
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(212, 45%, 89%)
   
    

}
.main1{
    border: 1rem;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25rem;
    width: 16rem;
    background-color:white;
    padding: 0.8rem;
}
.QRcode{
    
    /* border: 7px; */
    border-radius: 7%;
    height: 70%;
    width: 100%;
    margin:0.1rem;
    overflow: hidden;
}
.heading{
    font-family: 'Outfit', sans-serif;
    color:hsl(218, 44%, 22%);
    text-align: center;
    border: 7px;
  
    border-radius: 7%;
    height: 25%;
    width: 100%;
    margin:0.1rem;
}
.support-text{
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);;
    border: 7px;
    text-align: center;
    border-radius: 7%;
    
    height: 25%;
    width: 100%;
    margin:0.2rem;
}
#QRCode{
    height: 100%;
    width: 100%;
    object-fit:cover;
}